AddType font/woff2 .woff2
AddOutputFilterByType DEFLATE text/css text/html application/javascript font/truetype application/json font/woff2

<ifmodule mod_expires.c>
    ExpiresActive On
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType image/png "access plus 1 week"
    ExpiresByType image/jpeg "access plus 1 week"
    ExpiresByType image/gif "access plus 1 week"
    ExpiresByType image/svg+xml "access plus 1 week"
    ExpiresByType font/truetype "access plus 1 week"
    ExpiresByType font/woff2 "access plus 1 week"
</ifmodule>

Header set X-Frame-Options DENY
Header set X-Content-Type-Options nosniff
Header set X-XSS-Protection "1; mode=block"
Header set Content-Security-Policy "default-src 'self'; img-src 'self' maps.wikimedia.org liberapay.com data:; style-src 'self' 'unsafe-inline'; connect-src 'self' overpass-api.de nominatim.openstreetmap.org lib.reviews; object-src 'none'; script-src 'self' nominatim.openstreetmap.org"
Header set Referrer-Policy strict-origin
