<ons-alert-dialog cancelable id="aboutDialog">
    <div class="alert-dialog-title" >About OpenVegeMap</div>
    <div class="alert-dialog-content">
        <center><img src="img/logo.svg" alt="" /></center>
        <p>App created by <a target="_blank" rel="noopener" href="https://www.rudloff.pro/">Pierre Rudloff</a>.</p>
        <p>Icon by <a target="_blank" rel="noopener" href="https://github.com/moshpirit">moshpirit</a>.</p>
        <p>All the data is based on <a target="_blank" rel="noopener" href="http://www.openstreetmap.org/">OpenStreetMap</a>.</p>
    </div>
</ons-alert-dialog>
