<!DOCTYPE HTML>
<html><body>
<ons-alert-dialog id="filtersDialog" cancelable>
    <div class="alert-dialog-title">Filters</div>
    <div class="alert-dialog-content">
        <ons-list>
            <ons-list-header>Restaurants</ons-list-header>
            <ons-list-item modifier="nodivider" title="Restaurants that serve only vegan food">
                <div class="left">
                    <ons-checkbox input-id="vegan-only-filter"></ons-checkbox>
                </div>
                <label for="vegan-only-filter" class="center">
                    Vegan only
                </label>
            </ons-list-item>
            <ons-list-item modifier="longdivider" title="Restaurants that serve vegan food and other food">
                <div class="left">
                    <ons-checkbox input-id="vegan-filter"></ons-checkbox>
                </div>
                <label for="vegan-filter" class="center">
                    Vegan friendly
                </label>
            </ons-list-item>
            <ons-list-item modifier="nodivider" title="Restaurants that serve only vegetarian food but no vegan food">
                <div class="left">
                    <ons-checkbox input-id="vegetarian-only-filter"></ons-checkbox>
                </div>
                <label for="vegetarian-only-filter" class="center">
                    Vegetarian only
                </label>
            </ons-list-item>
            <ons-list-item modifier="longdivider" title="Restaurants that serve vegetarian food and meat but no vegan food">
                <div class="left">
                    <ons-checkbox input-id="vegetarian-filter"></ons-checkbox>
                </div>
                <label for="vegetarian-filter" class="center">
                    Vegetarian friendly
                </label>
            </ons-list-item>
            <ons-list-item title="Restaurants that serve meat or we don't have enough information about">
                <div class="left">
                    <ons-checkbox input-id="other-filter"></ons-checkbox>
                </div>
                <label for="other-filter" class="center">
                    Not vegetarian/unknown
                </label>
            </ons-list-item>
            <ons-list-header>Other</ons-list-header>
            <ons-list-item>
                <div class="left">
                    <ons-checkbox input-id="shop-filter"></ons-checkbox>
                </div>
                <label for="shop-filter" class="center">
                    Shops
                </label>
            </ons-list-item>
        </ons-list>
    </div>
    <div class="alert-dialog-footer">
        <button class="alert-dialog-button" id="filtersDialogBtn">Apply</button>
    </div>
</ons-alert-dialog>
</body></html>
