<!DOCTYPE HTML>
<html lang="en">
<body>
<ons-alert-dialog id="geocodeDialog" cancelable>
    <div class="alert-dialog-title">Search</div>
    <div class="alert-dialog-content">
        <ons-input id="geocodeInput" placeholder="Address or name"></ons-input>
        <ons-list id="geocodeAlt" class="leaflet-control-geocoder-alternatives"></ons-list>
        <div class="leaflet-control-geocoder-no-error" id="geocodeError">Nothing found</div>
    </div>
    <div class="alert-dialog-footer">
        <button class="alert-dialog-button" id="geocodeDialogBtn">Search</button>
    </div>
</ons-alert-dialog>
</body>
</html>
