<ons-page>
    <ons-list>
        <ons-list-item tappable id="geocodeMenuItem" data-dialog="geocodeDialog">
            <div class="left">
                <ons-icon icon="fa-search" fixed-width></ons-icon>
            </div>
            <div class="center">Search</div>
        </ons-list-item>
        <ons-list-item tappable id="filtersMenuItem" data-dialog="filtersDialog">
            <div class="left">
                <ons-icon icon="fa-filter" fixed-width></ons-icon>
            </div>
            <div class="center">Filters</div>
        </ons-list-item>
        <ons-list-item tappable id="locateMenuItem">
            <div class="left">
                <ons-icon icon="fa-map-marker" fixed-width></ons-icon>
            </div>
            <div class="center">Locate me</div>
        </ons-list-item>
        <ons-list-item tappable id="preferencesMenuItem" data-dialog="preferencesDialog">
            <div class="left">
                <ons-icon icon="fa-cog" fixed-width></ons-icon>
            </div>
            <div class="center">Preferences</div>
        </ons-list-item>
        <a href="https://editor.openvegemap.netlib.re/" target="_blank">
            <ons-list-item tappable>
                <div class="left">
                    <ons-icon icon="fa-plus-circle" fixed-width></ons-icon>
                </div>
                <div class="center">Add a restaurant</div>
            </ons-list-item>
        </a>
        <a href="https://github.com/Rudloff/openvegemap/issues" target="_blank">
            <ons-list-item tappable>
                <div class="left">
                    <ons-icon icon="fa-bug" fixed-width></ons-icon>
                </div>
                <div class="center">Report a bug</div>
            </ons-list-item>
        </a>
        <ons-list-item tappable id="aboutMenuItem" data-dialog="aboutDialog">
            <div class="left">
                <ons-icon icon="fa-info" fixed-width></ons-icon>
            </div>
            <div class="center">About</div>
        </ons-list-item>
    </ons-list>
</ons-page>
