<!DOCTYPE HTML>
<html lang="en">
<body>
<ons-alert-dialog id="mapPopup" cancelable>
    <div class="alert-dialog-title" id="mapPopupTitle"></div>
    <ons-list id="mapPopupList"></ons-list>
    <div class="alert-dialog-footer">
        <a target="_blank" rel="noopener" class="alert-dialog-button button" disabled id="reviewLink">Reviews</a>
        <a target="_blank" rel="noopener" class="alert-dialog-button" id="gmapsLink">Get directions</a>
        <a target="_blank" rel="noopener" class="alert-dialog-button" id="editLink">Edit</a>
    </div>
</ons-alert-dialog>
</body>
</html>
